@import url("https://fonts.googleapis.com/css2?family=Diplomata+SC&family=Sora:wght@100..800&display=swap");

body {
  font-family: Cursive;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative;
}
.backgroundVedio {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -10;
}
section {
  position: relative;
  width: 100%;
  /* height: 100vh; */
  background: #615656;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
h2 {
  font-size: 10em;
  color: #ddcbcb;
  text-transform: uppercase;
  text-align: center;
  display: flex;
}
h2 span {
  transition: 1.5s;
}
h2:hover span {
  filter: blur(20px);

  opacity: 0;
  transform: scale(2);
}
h2 span:nth-child(10n + 1) {
  transition-delay: 0s;
}
h2 span:nth-child(10n + 2) {
  transition-delay: 0.1s;
}
h2 span:nth-child(10n + 3) {
  transition-delay: 0.2s;
}
h2 span:nth-child(10n + 4) {
  transition-delay: 0.3s;
}
h2 span:nth-child(10n + 5) {
  transition-delay: 0.4s;
}
h2 span:nth-child(10n + 6) {
  transition-delay: 0.5s;
}
h2 span:nth-child(10n + 7) {
  transition-delay: 0.6s;
}
h2 span:nth-child(10n + 8) {
  transition-delay: 0.7s;
}
h2 span:nth-child(10n + 9) {
  transition-delay: 0.8s;
}
h2 span:nth-child(10n + 10) {
  transition-delay: 0.9s;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #615656;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(34, 32, 32, 0.2);
  text-align: center;
}
h2 {
  position: relative;
  margin: 0;
  color: #e2cfcf;
  font-size: 2.2em;
  font-weight: 900;
}
h4 {
  position: relative;
  margin: 0;
  color: #e2cfcf;
  font-size: 2.2em;
  font-weight: 900;
}
.gun {
  font-size: 20px;
  color: #f53192;
}
.content {
  display: flex;
  justify-content: space-between;
}
h3 {
  position: relative;
  margin: 0;
  color: #e2cfcf;
  font-size: 2.2em;
  font-weight: 900;
}
/* button */
.botton {
  margin: 10px;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 12px;
}
.botton::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #968484;
  left: 0;
  top: 0;
  border-radius: 10px;
}
/* glow */
.botton::before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
  opacity: 0;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* hover */
.botton:hover::before {
  opacity: 1;
}

.botton:active:after {
  background: transparent;
}

.botton:active {
  color: #000;
  font-weight: bold;
}


video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  pointer-events: none;
  mix-blend-mode: screen;
}
textarea {
  width: 95%;
  padding: 10px;
  font-size: 18px;
  border: 2px solid #ddd;
  border-radius: 10px;
  resize: vertical;
  min-height: 125px;
}
textarea:focus {
  border-color: #007bff;
  box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5);
}
.newColor-input {
  width: 50%;
  height: 25px;
  display: inline-block;
  position: relative;
  border-color: #7a4dc2;
  background-color: #d3c0f0;
  font-size: medium;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5);
}
.btn {
  width: 10%;
  height: 30px;
  display: inline-block;
  position: relative;
  margin-top: 10px;
  font-size: medium;
  font-weight: 500;
  border-color: #7a4dc2;
  color: #fff;
  background-color: #7d2ae8;
  border-radius: 5px;
  cursor: pointer;
  transition: transfrom 0.2s ease;
  box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5);
}
.btn:active {
  transform: scale(0.96);
}
.btn::before,
.btn::after {
  content: "";
  position: absolute;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 150%;
  border: 2px solid red;
}
.btn::before {
  top: -70%;
  background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 20%;
  background-position: 5% 90%, 10% 90%, 10% 90%;
}
.btn::after {
  bottom: -70%;
}

.music {
  background: #615656;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.music-player {
  background: #615656;
  width: 88%;
  border-radius: 10px;
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-between;
}

nav .circle {
  border-radius: 50%;
  width: 40px;
  line-height: 40px;
  background: #fff;
  color: #f53192;
  box-shadow: 0 5px 10px rgba(255, 26, 26, 0.22);
}
#progress {
  -webkit-appearance: none;
  width: 70%;
  height: 6px;
  background: #f53192;
  border-radius: 4px;
  cursor: pointer;
}
#progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #f53192;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 8px solid #fff;
  box-shadow: 0 5px 5px rgba(255, 26, 26, 0.22);
}
.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}
.controls div {
  width: 40px;
  height: 40px;
  margin: 20px;
  background: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #f53192;
  box-shadow: 0 10px 20px rgba(255, 26, 26, 0.22);
  cursor: pointer;
}
.controls div:nth-child(2) {
  transform: scale(1.5);
  background: #f53192;
  color: #fff;
}
/* ----------------------for canvas------------------------------- */
#canvas {
  height: 500px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}
.nav {
  width: auto;
  height: 50px;
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: opacity 0.5s;
  background: linear-gradient(to right, #4568dc, #b06ab3);
  padding: 10px;
  border-radius: 10px;
  border: 1px solid white;
}
img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.nav div,
button,
input {
  margin: 5px;
}
.nav:hover {
  cursor: pointer;
}
buttton:hover {
  cursor: pointer;
}
.clr {
  height: 35px;
  width: 35px;
  background-color: blue;
  border-radius: 50%;
  border: 2px solid white;
  transition: transform 0.5s;
}
.clr:hover {
  transform: scale(1.2);
}
.clr:nth-child(1) {
  background-color: #000;
}
.clr:nth-child(2) {
  background-color: red;
}
.clr:nth-child(3) {
  background-color: orange;
}
.clr:nth-child(4) {
  background-color: blue;
}
.clr:nth-child(5) {
  background-color: purple;
}
.clr:nth-child(6) {
  background-color: yellowgreen;
}
.clr:nth-child(7) {
  background-color: yellow;
}
.clr:nth-child(8) {
  background-color: #fff;
}
button {
  border: none;
  outline: none;
  padding: 0.6em 1em;
  border-radius: 3px;
  background-color: #03bb56;
  color: #fff;
  border: 1px solid white;
  font-size: 15px;
  font-weight: bold;
}
.save {
  background-color: #0f65d4;
}
input[type="color"] {
  width: 60px;
  height: 40px;
}
#ageOutputId {
  color: white;
  font-weight: bold;
  font-size: 15pt;
}
#ageInputId {
  background: linear-gradient(to right, #000428 0%, #004e92 100%);
  height: 7px;
  outline: none;
  -webkit-appearance: none;
  cursor: ew-resize;
  border-radius: 5px;
  border: 3px solid white;
  accent-color: white;
}
.emoji {
  font-size: 40px;
  padding-bottom: 10px;
}

/* ----------------toggle---------------- */
.switch {
  margin: 10px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fafafa;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(117, 90, 90);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #f53192;
}

input:focus + .slider {
  box-shadow: 0 0 1px #f53192;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* ----------toggle fun----------------- */

.hidden {
  display: none;
}
